extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.username}.
					if redirectUrl
						p.text-center You are now being redirected
						script.
							window.opener = null;
							setTimeout(function()  {
								location.replace("#{redirectUrl}");
							}, 100);
					else
						a(href='https://community.badcorpinc.com/login', class='text-center new-account') Go to the community forums
						a(href='https://game.badcorpinc.com/login', class='text-center new-account') Go to the game
					a(href='/signout', class='text-center new-account') Sign Out