extends visitorLayout
block head
	title Sign In | BadCorp Inc.

block content2
	div.account-wall
		img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
		h2.text-center Sign In
		form(class='form-signin', action='/login', method='POST')
			input(type='email', name='email' class='form-control', placeholder='Email',required, autofocus)
			input(type='password', name='password' class='form-control', placeholder='Password', required)
			button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
			span.clearfix
	a(href='/signup', class='text-center new-account') Create an account?
	a(href='/recover', class='text-center new-account') Forgot your password?