extends visitorLayout
block head
	title Recover Password | BadCorp Inc.

block content2
	div.account-wall
		img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
		h2.text-center Recover Password
		if !randomKey
			form(class='form-signin', action='/recover', method='POST')
				input(type='email', name='email' class='form-control', placeholder='Email',required, autofocus)
				button(class='btn btn-lg btn-primary btn-block', type='submit') Send link to recover password
				span.clearfix
		else
			form(class='form-signin', action='/recover', method='POST')
				input(type='hidden', name='randomKey' class='form-control', value=randomKey,required, autofocus)
				input(type='password', name='password' class='form-control', placeholder='New password',required, autofocus)
				button(class='btn btn-lg btn-primary btn-block', type='submit') Change password
				span.clearfix
	a(href='/signup', class='text-center new-account') Create an account?
	a(href='/', class='text-center new-account') Already have an account?