extends visitorLayout
block head
	title Play for free | BadCorp Inc.

block content2
	div.signup-wall
		img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
		h2.text-center Play for free
		form(class='form-signin', action='/signup', method='POST')
			input(type='email', name='email', class='form-control', placeholder='Email',required)
			button(class='btn btn-lg btn-primary btn-block', type='submit') Send confirmation mail
			span.clearfix
	a(href='/', class='text-center new-account') Already have an account?