extends visitorLayout
block head
	title Sign Up | BadCorp Inc.

block content2
	div.signup-wall
		h2.text-center Sign Up
		form(class='form-signin', action='/signup/#{randomKey}', method='POST')
			input(type='email', name='email', class='form-control', value=email, readonly, required)
			input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
			input(type='password', name='password', class='form-control', placeholder='Password', required)
			input(type='hidden', name='randomKey', class='form-control', value=randomKey, required)
			button(class='btn btn-lg btn-primary btn-block', type='submit') Register
			span.clearfix
	a(href='/', class='text-center new-account') Already have an account?