extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				a(href='/')
					h1.text-center.login-title BadCorp Logo
				block content2
				if message
					h1.text-center.error-message #{message}